<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://phones-rfe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>phones-rfe</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$phones-rfe</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eb8r7mp7md.database.windows.net,1433;Initial Catalog=PhoneDBContext;User ID=phones@eb8r7mp7md;Password=AAAAaaaa10" Name="Data Source=tcp:eb8r7mp7md.database.windows.net,1433;Initial Catalog=PhoneDBContext;User Id=phones@eb8r7mp7md;Password=AAAAaaaa10" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CallManagement.Models.UsersContext, CallManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CallManagement.Models.PhoneDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:eb8r7mp7md.database.windows.net,1433;Initial Catalog=PhoneDBContext;Integrated Security=False;User ID=phones@eb8r7mp7md;Password=AAAAaaaa10;Connect Timeout=30;Encrypt=True" Name="Server=tcp:eb8r7mp7md.database.windows.net,1433;Database=PhoneDBContext;User ID=phones@eb8r7mp7md;Password=AAAAaaaa10;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CallManagement.Models.PhoneDBContext, CallManagement" MigrationConfiguration="CallManagement.Migrations.Configuration, CallManagement" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CallManagement.Models.PhoneDBContext-Web.config Connection String">
      <ParameterValue>Server=tcp:eb8r7mp7md.database.windows.net,1433;Database=PhoneDBContext;User ID=phones@eb8r7mp7md;Password=AAAAaaaa10;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eb8r7mp7md.database.windows.net,1433;Initial Catalog=PhoneDBContext;User Id=phones@eb8r7mp7md;Password=AAAAaaaa10</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CallManagement.Models.PhoneDBContext" />
  </ItemGroup>
</Project>