@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
  <h2>Кристина, Илья, Вадим представляют...</h2>
</div>

<div class="jumbotron">
  <h1><img src="~/Images/phone.png" class="img-circle"/>Телефоны v 0.01</h1>
  <br />
  <p>
      Web-приложение для управления телефонными номерами в крупных организациях
  </p>
</div>